service: pedidos-seguridad
frameworkVersion: "4"

org: darosv
provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  stage: dev
  memorySize: 256
  timeout: 30
  iam:
    role: 645337731455   # <-- Reemplazar con el ID de la cuenta AWS
  environment:
    USERS_TABLE: t_usuarios
    TOKENS_TABLE: t_tokens_acceso
  httpApi:
    cors: true

functions:
  CrearUsuario:
    handler: src/crear_usuario.lambda_handler
    events:
      - httpApi:
          method: POST
          path: /usuarios/crear
  LoginUsuario:
    handler: src/login_usuario.lambda_handler
    events:
      - httpApi:
          method: POST
          path: /usuarios/login
  ValidarTokenAcceso:
    handler: src/validar_token.lambda_handler

resources:
  Resources:
    UsuariosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: t_usuarios
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: user_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: user_id
            KeyType: RANGE
    TokensTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: t_tokens_acceso
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: token
            AttributeType: S
        KeySchema:
          - AttributeName: token
            KeyType: HASH

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    slim: true
